<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/pray/nation.css">
	<title>나사로의 집</title>
	<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=e8v32dthve"></script>
</head>
<body id="asd">
	<th:block th:replace="~{top/top.html}"></th:block>
	<section>
		<div id="prayMain">
			<img src="../../img/middleBanner/8.jpg" alt="">
			<div>열방을위한기도</div>
		</div>
	</section>
	<section id="prayMiddle" th:with="nations=${nations}">
		<div id="versesContent">
			<table id="versesDetail">
				<tr>
					<td>제목</td>
					<td th:text="${nations.nationsTitle}">s</td>
				</tr>
				<tr>
					<td>글쓴이</td>
					<td th:text="${nations.memberNickname}">d</td>
				</tr>
				<tr>
					<td>작성시간</td>
					<td th:text="${nations.nationsDate}">d</td>
				</tr>
				<tr>
					<td colspan="2">내　　　용</td>
				</tr>
				<tr>
					<td colspan="2" th:utext="${nations.nationsContent}">내용</td>
				</tr>
			</table>
		</div>
		<div id="versesButton">
			<button > <a href="/pray/nations">목록</a></button>
			<div th:if="${nations.memberNo==session.loginMember?.memberNo ||session.loginMember?.memberGrade=='A'}">
				<input id="csrf" type="hidden" th:value="${_csrf.token}">
				<input id="csrfName" type="hidden" th:value="${_csrf.parameterName}">
				<button id="nationsModify" type="button" th:value="${nations.nationsNo}">수정</button>
				<button id="nationsDelete" type="button" th:value="${nations.nationsNo}">삭제</button>
			</div>
		</div>
	</section>
	<th:block th:replace="~{top/bottom.html}"></th:block>
</body>
<script src="../../js/pray/nations.js"></script>
</html>