<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/pray/pray.css">
	<title>나사로의 집</title>
	<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=e8v32dthve"></script>
</head>
<body id="asd">
	<th:block th:replace="~{top/top.html}"></th:block>
	<section>
		<div id="prayMain">나사로의 집 기도문</div>
	</section>
	<section id="prayMiddle">
		<div id="prayContents">
			<div class="pray-prayMenu"><a href="/pray/prayer">기도문</a></div>
			<div class="pray-prayMenu"><a href="/pray/nations">열방을 위한 기도</a></div>
			<div class="pray-prayMenu"><a href="/pray/family">가족기도방</a></div>
		</div>
		<div id="prayer">
			<img src="../img/prayer.png" alt="" id="prayer-img">
		</div>
	</section>
</body>
<script>
	</script>
</html>