<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/pray.css">
	<title>나사로의 집</title>
	<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=e8v32dthve"></script>
</head>
<body id="asd">
	<section id="topFrame">
		<div id="topMain">
			<div ><img id="topLogo" src="../img/나사로 로고.png" alt=""></div>
			<div id="topRight">
				<div id="topSign">
					<a>회원가입</a>
					<a>로그인</a>
				</div>
				<nav class="top-nav">
					<div>
						<div class="top-nav-menu">
							<ul class="top-menu-content">
								<li>나사로의집 소개</li>
							</ul>
							<div class="top-menu-hover">
								<div>나사로의 집</div>
							</div>
						</div>
						<div class="top-nav-menu">
							<ul class="top-menu-content">
								<li>상담/방문 안내</li>
							</ul>
							<div class="top-menu-hover">
								<div>상담 안내</div>
								<div>방문 안내</div>
							</div>
						</div>
						<div class="top-nav-menu">
							<ul class="top-menu-content">
								<li>말씀과 기도 나눔</li>
							</ul>
							<div class="top-menu-hover">
								<div>말씀</div>
								<div>기도</div>
							</div>
						</div>
						<div class="top-nav-menu">
							<ul class="top-menu-content">
								<li>갤러리</li>
							</ul>
							<div class="top-menu-hover">
								<div>갤러리</div>
							</div>
						</div>
						<div class="top-nav-menu">
							<ul class="top-menu-content">
								<li>커뮤니티</li>
							</ul>
							<div class="top-menu-hover">
								<div>자유게시판</div>
								<div>문의게시판</div>
								<div>기도게시판</div>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</section>
	<section>
		<div id="prayMain">쉬지말고 기도하라</div>
	</section>
	<section id="prayMiddle">
		<div id="prayLink">
			<div>링크</div>
			<div>링크</div>
			<div>링크</div>
		</div>
		<div id="prayContents">
			<div class="pray-prayMenu">나사로의집을 위한 기도</div>
			<div class="pray-prayMenu">함께 기도하는 법</div>
			<div class="pray-prayMenu">가족기도방</div>
		</div>
		<div id="prayMiddleContent">
			<table class="pray-content">
				<th>순서</th>
				<th>날짜</th>
				<th>기도문</th>
				<th>내용</th>
				<th>작성자</th>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<tr>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
			</table>
		</div>
		<div id="pagenation">
			<div>◁</div>
			<div>1</div>
			<div>2</div>
			<div>3</div>
			<div>4</div>
			<div>5</div>
			<div>▷</div>
		</div>
	</section>
</body>
<script>
	</script>
<script src="../js/pray.js"></script>
</html>