
/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa prayMiddle */

#prayMain{
  position: relative;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100px;
}
#prayMain>div {
  position: absolute;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100px;
  font-size: 40px;
  color: white;
}
#prayMiddle{
}

#prayLink{
  display: flex;
  justify-content: space-evenly;
}

#prayLink div{
  border: 1px solid #ccc;
  width: 20%;
  height: 30px;
}
#prayContents{
  margin: 50px 20%;
  display: flex;
  justify-content: center;
}

.pray-prayMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 60px;
  margin-left: 2%;
  margin-right: 2%;
  background-color: aqua;
}

#prayPic{
  width: 200px;
  height: 500px;
  background-color: aquamarine;
}

#prayMiddleContent{
  display: flex;
  margin: 0 10%;
  justify-content: center;


}

#prayMiddleContent > div{
}

.pray-content{
  width: 90%;
  border: 0.5px solid #ccc;
}
.family-content{
  width: 90%;
  border: 0.5px solid #ccc;
}

.pray-content th{
  background-color: hsl(0, 4%, 84%);
}
.pray-content td{
  text-align: center;
}
.pray-content th:nth-child(1){
  width: 8%;
}
.pray-content th:nth-child(2){
  width: 10%;
}
.pray-content th:nth-child(3){
  width: 10%;
}
.pray-content th:nth-child(4){
  width: 10%;
}
.pray-content th:nth-child(5){
  width: 10%;
}

#familyButton{
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
#familyButton > button{
  margin-right: 600px;
}

#pagenation{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#pagenation > div{
  display: flex;
  justify-content: center;
  margin: 0 5px;
  border: 1px solid #ccc;
  width: 22px;
  height: 22px;
  border-radius: 5px
}


#versesContent{
  display: flex;
  justify-content: center;
}
#versesDetail{
  width: 1000px;
  border : 1px solid #ccc;
  border-radius: 10px;
}
#versesDetail td{
  border : 1px solid #ccc;
  
}

#versesDetail tr > td:nth-child(1){
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: antiquewhite;
}
#versesDetail tr > td:nth-child(2){
  padding-left: 30px;
}
#versesDetail tr:nth-child(5) > td{
  padding-left: 30px;
  text-align: left;
  background-color: white;
}
#versesButton{
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
#versesButton > button{
  margin-right: 600px;
}