





/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa prayMiddle */

#prayMain{
  position: relative;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100px;
}
#prayMain>div {
  position: absolute;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100px;
  font-size: 40px;
  color: white;
}
#prayMiddle{
  width: 100%;
}
#prayMiddle > img{
  margin: 0 auto;
  display: flex;

}

#prayLink{
  display: flex;
  justify-content: space-evenly;
}

#prayLink div{
border: 1px solid #ccc;
width: 20%;
height: 30px;
background-color: bisque;
}
#prayContents{
margin: 50px 20%;
display: flex;
justify-content: center;
}



#prayPic{
width: 200px;
height: 500px;
background-color: aquamarine;
}

#prayMiddleContent{
display: flex;
margin: 0 10%;
justify-content: center;


}

#prayMiddleContent > div{
}

.pray-content{
width: 90%;
border: 0.5px solid #ccc;
}

.pray-content th{
background-color: hsl(0, 4%, 84%);
}
.pray-content td{
text-align: center;
background-color: beige;
}
.pray-content th:nth-child(1){
width: 8%;
}
.pray-content th:nth-child(2){
width: 10%;
}
.pray-content th:nth-child(3){
width: 10%;
}
.pray-content th:nth-child(4){
width: 10%;
}
.pray-content th:nth-child(5){
width: 10%;
}
#prayer{
  display: flex;
  justify-content: center;

}