<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../css/community.css">
	<title>나사로의 집</title>
</head>
<body id="asd">
	<th:block th:replace="~{top/top.html}"></th:block>
	<section id="communityMiddle">
		<!-- <div id="communityLink">
			<div>링크</div>
			<div>링크</div>
			<div>링크</div>
		</div> -->
		<div id="communityMiddleContent">
			<table class="board-content">
				<tr>
					<th>제목</th>
					<td>츄르</td>
				</tr>
				<tr>
					<th>날짜</th>
					<td>2013-01-11</td>
				</tr>
				<tr>
					<th>작성자</th>
					<td>로미</td>
				</tr>
				<tr>
					<td colspan="2">츄르 줘</td>
				</tr>
			</table>
			<div id="board-button">
				<button>목록</button>
				<button>수정</button>
			</div>
		</div>
	</section>
</body>
<script>
	</script>
</html>