<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/community/free.css">
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
	<script src="/js/summernote/summernote-lite.js"></script>
	<script src="/js/summernote/lang/summernote-ko-KR.js"></script>
	<link rel="stylesheet" href="/css/summernote/summernote-lite.css">
	<title>나사로의 집</title>
	<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=e8v32dthve"></script>
</head>
<body id="asd">
	<th:block th:replace="~{top/top.html}"></th:block>
	<section>
		<div id="communityMain" class="topbanner">
			<img src="../../img/middleBanner/15.jpg" alt="">
			<div>자유게시판</div>
		</div>
	</section>
	<form action="/free/update" >
		
		<section id="prayMiddle" th:with="free=${free}">
			<input type="hidden" name="freeNo" th:value="${free.freeNo}">
			<div id="freeContent">
				<table id="freeDetail">
					<tr>
						<td>제목</td>
						<td style="padding-left: 0;">
							<input type="text" style="width: 99%; height: 50px; border:none;" name="freeTitle" th:value="${free.freeTitle}" required>
						</td>
					</tr>
					<tr>
						<td colspan="2">내　　　용</td>
					</tr>
					<tr>
						<td colspan="2" > 
							<textarea id="summernote" name="freeContent" th:utext="${free.freeContent}" required></textarea>
						</td>
					</tr>
				</table>
			</div>
			<div id="freeButton">
				<button > <a href="/community/free">목록</a></button>
				<div th:if="${free.memberNo==session.loginMember?.memberNo ||session.loginMember?.memberGrade=='A'}">
					<input id="csrf" type="hidden" th:value="${_csrf.token}">
					<input id="csrfName" type="hidden" th:value="${_csrf.parameterName}">
					<button id="freeModify" th:value="${free.freeNo}">수정</button>
					<button id="freeDelete" type="button" th:value="${free.freeNo}">삭제</button>
				</div>
			</div>
		</section>
		<th:block th:replace="~{top/bottom.html}"></th:block>
	</form>
</body>
<script src="../../js/community/free.js"></script>
</html>