<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/community/free.css">
	<title>나사로의 집</title>
	<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=e8v32dthve"></script>
</head>
<body id="asd">
	<th:block th:replace="~{top/top.html}"></th:block>
	<section>
		<div id="communityMain" class="topbanner">
			<img src="../../img/middleBanner/15.jpg" alt="">
			<div>자유게시판</div>
		</div>
	</section>
	<section id="prayMiddle" th:with="free=${free}">
		<div id="freeContent">
			<table id="freeDetail">
				<tr>
					<td>제목</td>
					<td th:text="${free.freeTitle}">s</td>
				</tr>
				<tr>
					<td>글쓴이</td>
					<td th:text="${free.memberNickname}">d</td>
				</tr>
				<tr>
					<td>작성시간</td>
					<td th:text="${free.freeDate}">d</td>
				</tr>
				<tr>
					<td colspan="2">내　　　용</td>
				</tr>
				<tr>
					<td colspan="2" th:text="${free.freeContent}">내용</td>
				</tr>
			</table>
		</div>
		<div id="freeButton">
			<button > <a href="/community/free">목록</a></button>
			<div th:if="${free.memberNo==session.loginMember?.memberNo ||session.loginMember?.memberGrade=='A'}">
				<input id="csrf" type="hidden" th:value="${_csrf.token}">
				<input id="csrfName" type="hidden" th:value="${_csrf.parameterName}">
				<button id="freeModify" type="button" th:value="${free.freeNo}">수정</button>
				<button id="freeDelete" type="button" th:value="${free.freeNo}">삭제</button>
			</div>
		</div>
	</section>
	<th:block th:replace="~{top/bottom.html}"></th:block>
</body>
<script src="../../js/community/free.js"></script>
</html>