<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/community.css">
	<title>나사로의 집</title>
	<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=e8v32dthve"></script>
</head>
<body id="asd">
	<th:block th:replace="~{top/top.html}"></th:block>
	<section>
		<div id="communityMain">공지사항</div>
	</section>
	<section id="communityMiddle">
		<!-- <div id="communityLink">
			<div>링크</div>
			<div>링크</div>
			<div>링크</div>
		</div> -->
		<div id="communityContents">
			<div class="community-communityMenu"><a href="/community/notice">공지사항</a></div>
			<div class="community-communityMenu"><a href="/community/sharing">나눔게시판</a></div>
			<div class="community-communityMenu"><a href="/community/free">자유게시판</a></div>
		</div>
		<div id="communityMiddleContent">
			<table class="community-content">
				<th>순서</th>
				<th>제목</th>
				<th>작성자</th>
				<th>날짜</th>
				<tr th:each="n, index:${noticeList}"  th:value="${n.noticeNo}" class="notice-content"> 
					<td th:text="${n.noticeNo}">번호</td>
					<td th:text="${n.noticeTitle}">제목</td>
					<td th:text="${n.memberNo}">작성자</td>
					<td th:text="${n.noticeDate}">날짜</td>
				</tr>
			</table>
		</div>
		<div id="pagenation">
			<div>◁</div>
			<div>1</div>
			<div>2</div>
			<div>3</div>
			<div>4</div>
			<div>5</div>
			<div>▷</div>
		</div>
	</section>
</body>
<script src="../js/community/notice.js"></script>
</html>