<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/community/notice.css">
	<link rel="stylesheet" href="../../css/button.css">
	<title>나사로의 집</title>
</head>
<body id="asd">
	<th:block th:replace="~{top/top.html}"></th:block>
	<section>
		<div id="communityMain" class="topbanner">
			<img src="../../img/middleBanner/13.jpg" alt="">
			<div>공지사항</div>
		</div>
		<div id="communityContents">
			<a class="community-communityMenu-cho" href="/community/notice">공지사항</a>
			<a class="community-communityMenu" href="/community/sharing">나눔게시판</a>
		</div>
	</section>
	<section id="prayMiddle" th:with="notice=${notice}">
		<div id="noticeContent">
			<table id="noticeDetail">
				<tr>
					<td>제목</td>
					<td th:text="${notice.noticeTitle}">s</td>
				</tr>
				<tr>
					<td>글쓴이</td>
					<td th:text="${notice.memberNickname}">d</td>
				</tr>
				<tr>
					<td>작성시간</td>
					<td th:text="${notice.noticeDate}">d</td>
				</tr>
				<tr>
					<td colspan="2">내　　　용</td>
				</tr>
				<tr>
					<td colspan="2" th:utext="${notice.noticeContent}">내용</td>
				</tr>
			</table>
		</div>
		<div id="noticeButton">
			<button > <a href="/community/notice">목록</a></button>
			<div th:if="${notice.memberNo==session.loginMember?.memberNo ||session.loginMember?.memberGrade=='A'}">
				<input id="csrf" type="hidden" th:value="${_csrf.token}">
				<input id="csrfName" type="hidden" th:value="${_csrf.parameterName}">
				<button id="noticeModify" type="button" th:value="${notice.noticeNo}">수정</button>
				<button id="noticeDelete" type="button" th:value="${notice.noticeNo}">삭제</button>
			</div>
		</div>
	</section>
	<th:block th:replace="~{top/bottom.html}"></th:block>
</body>
<script src="../../js/community/notice.js"></script>
</html>