<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/community/sharing.css">
	<link rel="stylesheet" href="../../css/button.css">
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
	<script src="/js/summernote/summernote-lite.js"></script>
	<script src="/js/summernote/lang/summernote-ko-KR.js"></script>
	<link rel="stylesheet" href="/css/summernote/summernote-lite.css">
	<title>나사로의 집</title>
</head>
<body id="asd">
	<th:block th:replace="~{top/top.html}"></th:block>
	<section>
		<div id="communityMain" class="topbanner">
			<img src="../../img/middleBanner/14.jpg" alt="">
			<div>나눔게시판</div>
		</div>
		<div id="communityContents">
			<a class="community-communityMenu" href="/community/notice">공지사항</a>
			<a class="community-communityMenu-cho" href="/community/sharing">나눔게시판</a>
			<!-- <a class="community-communityMenu" href="/community/free">자유게시판</a> -->
		</div>
	</section>
	<form action="/sharing/insert"method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		<section id="prayMiddle" th:with="verses=${verses}">
			<div id="sharingContent">
				<table id="sharingDetail">
					<tr>
						<td>제목</td>
						<td style="padding-left: 0;">
							<input type="text" style="width: 99%; height: 50px; border:none;" name="sharingTitle" required>
						</td>
					</tr>
					<tr>
						<td colspan="2">내　　　용</td>
					</tr>
					<tr>
						<td colspan="2" > 
							<textarea id="summernote" name="sharingContent" required></textarea>
						</td>
					</tr>
				</table>
			</div>
			<div id="sharingButton">
				<button > <a href="/community/sharing">목록</a></button>
				<div>
					<button type="submit">확인</button>
				</div>
			</div>
		</section>
		<th:block th:replace="~{top/bottom.html}"></th:block>
	</form>
</body>
</html>