<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nasaro.member.model.mapper.MemberMapper">

     <!-- 로그인 -->
     <select id="login">
		  SELECT *
		  FROM `MEMBER`
		  WHERE MEMBER_DEL_FL = 'N'
		  AND MEMBER_ID = #{memberId}
     </select>

	<update id="signOut">
		UPDATE `MEMBER` 
		SET member_del_fl = 'Y',
			member_name = '탈퇴한 회원입니다.',
			member_tel = '탈퇴한 회원입니다.',
			member_id = '탈퇴한 회원입니다.',
			member_nickname = '탈퇴한 회원입니다.'
		WHERE member_No = #{memberNo}
    </update>
	
</mapper>

