#prayMiddleContent{
    display: flex;
    margin: 0 10%;
    justify-content: center;
    flex-direction: column;
}

#topFrame{
    width: 100%;
    z-index: 250;
    height: 120px;
    position: sticky;
    top: 0;
    margin-bottom: 50px;
}
#versesLink{
    display: flex;
    justify-content: space-evenly;
}

#versesLink div{
    border: 1px solid #ccc;
    width: 20%;
    height: 30px;
    background-color: bisque;
}

#versesContents{
    margin: 50px 20%;
    display: flex;
    justify-content: center;
}

.verses-versesMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 60px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: aqua;
  }