<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/gallery.css">
	<title>나사로의 집</title>
	<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=e8v32dthve"></script>
</head>
<body id="asd">
	<th:block th:replace="~{top/top.html}"></th:block>
	<section>
		<div id="galleryMain">갤러리</div>
	</section>
	<section id="galleryMiddle">
		<div id="galleryContents">
			<div>
				<div class="gallery-galleryMenu">나사로의집 풍경</div>
				<table class="gallery-content">
					<tr>
						<td class="gellery-pic">사진</td>
						<td class="gellery-pic">사진</td>
					</tr>
					<tr>
						<td>설명</td>
						<td>설명</td>
					</tr>
					<tr>
						<td class="gellery-pic">사진</td>
						<td class="gellery-pic">사진</td>
					</tr>
					<tr>
						<td>설명</td>
						<td>설명</td>
					</tr>
				</table>
				<div id="pagenation">
					<div>◁</div>
					<div>1</div>
					<div>2</div>
					<div>3</div>
					<div>4</div>
					<div>5</div>
					<div>▷</div>
				</div>
			</div>
			<div>
				<div class="gallery-galleryMenu">
					나사로의집 풍경
				</div>
				<table class="gallery-content">
					<tr>
						<td class="gellery-pic">사진</td>
						<td class="gellery-pic">사진</td>
					</tr>
					<tr>
						<td>설명</td>
						<td>설명</td>
					</tr>
					<tr>
						<td class="gellery-pic">사진</td>
						<td class="gellery-pic">사진</td>
					</tr>
					<tr>
						<td>설명</td>
						<td>설명</td>
					</tr>
				</table>
				<div id="pagenation">
					<div>◁</div>
					<div>1</div>
					<div>2</div>
					<div>3</div>
					<div>4</div>
					<div>5</div>
					<div>▷</div>
				</div>
			</div>
			<div>
				<div class="gallery-galleryMenu">나사로의집 풍경</div>
				<table class="gallery-content">
					<tr>
						<td class="gellery-pic">사진</td>
						<td class="gellery-pic">사진</td>
					</tr>
					<tr>
						<td>설명</td>
						<td>설명</td>
					</tr>
					<tr>
						<td class="gellery-pic">사진</td>
						<td class="gellery-pic">사진</td>
					</tr>
					<tr>
						<td>설명</td>
						<td>설명</td>
					</tr>
				</table>
				<div id="pagenation">
					<div>◁</div>
					<div>1</div>
					<div>2</div>
					<div>3</div>
					<div>4</div>
					<div>5</div>
					<div>▷</div>
				</div>
			</div>
		</div>
	

	</section>
</body>
<script>
	</script>
<script src="../js/gallery.js"></script>
</html>