<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/signUp/signUp.css">
	<link rel="stylesheet" href="../../css/button.css">
	<title>나사로의 집</title>
</head>
<body id="asd">
	<th:block th:replace="~{top/top.html}"></th:block>
	<section id="signUpFrame" style="display: flex; flex-direction: column; align-items: center;">
		<div id="signUp-topbanner" class="topbanner">
			<img src="../../img/middleBanner/5.jpg" alt="">
			<div id="signUp-topbanner-text">내 정보</div>
		</div>
		<div id="signUp-button" style="margin:50px 20%; width: 70%;">
			<a href="/myPage/modifySignUp"  class="sign-signMenu-cho">
				기본 정보 수정
			</a>
			<a href="/myPage/modifyPassword" class="sign-signMenu">
				비밀번호 수정
			</a>
			<a href="/myPage/signOut" class="sign-signMenu">
				회원 탈퇴
			</a>
		</div>
		<table id="signUpForm">
			<input id="memberNo" type="hidden" th:value="${session.loginMember.memberNo}">
			<tr>
				<th class="signUp-menu">등급</th>
				<td id="signUpTel">
					<div th:if="${session.loginMember.memberRank=='A'}">어드민</div>
					<div th:if="${session.loginMember.memberRank=='M'}">매니저</div>
					<div th:if="${session.loginMember.memberRank=='F'}">가족</div>
					<div th:if="${session.loginMember.memberRank=='N'}">손님</div>
				</td>
			</tr>
			<tr>
				<th class="signUp-menu">닉네임</th>
				<td id="signUpName" >
					<div style="display: flex;">
						<input id="nickname" type="text" placeholder="아이디를 입력해주세요" th:value="${session.loginMember.memberNickname}">
						<div></div>
						<button type="button" id="modifyNickname" >수정</button>
						
					</div>
				</td>
			</tr>
			<!-- <tr>
				<th class="signUp-menu">이메일</th>
				<td id="signUpTel" >
					<div style="display: flex;">
						<input type="text" placeholder="이메일을 입력해주세요" th:value="${session.loginMember.memberEmail}">
						<div></div>
						<button type="button" id="modifyEmail">수정</button>
					</div>
				</td>
			</tr> -->
			 <tr>
				<!-- <th class="signUp-menu">전화번호</th>
				
				<td id="signUpTel" >
					<div style="display:flex">
						<input type="text" name="memberTel" id="signUpTelF" placeholder="전화번호를 입력해주세요" th:value="${session.loginMember.memberTel}"/>   
						<button type="button" id="send" >수정/코드전송</button><br> 
					</div>
					<div id="phoneMessage">'-'를 제외한 숫자만 입력 바랍니다.</div>
					<div id="smsCodeSet" style="display: none;">
						인증번호 : <input type="text" id="smsCode">   
						<button type="button" id="smsConfirm">확인</button>  
					</div>
				</td> -->
			</tr> 
		</table>
		<div>※전화번호는 아이디 및 비밀번호를 찾을 때 사용됩니다.</div>
		<div id="signUpBtn">
			<input type="submit" value="회원탈퇴" id="signUpConfirm">
		</div>
	</section>
	<th:block th:replace="~{top/bottom.html}"></th:block>
</body>
<script src="/js/signUp/signUpMypage.js"></script>
</html>