<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/verses/verses.css">
	<title>나사로의 집</title>
	<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=e8v32dthve"></script>
</head>
<body id="asd">
	<th:block th:replace="~{top/top.html}"></th:block>
	<section>
		<div id="versesMain">
			<img src="../../img/middleBanner/5.jpg" alt="">
			<div>컬럼</div>
		</div>
	</section>
	<section id="prayMiddle" th:with="column=${column}">
		<div id="versesContent">
			<table id="versesDetail">
				<tr>
					<td>제목</td>
					<td th:text="${column.columnTitle}">s</td>
				</tr>
				<tr>
					<td>글쓴이</td>
					<td th:text="${column.memberNo}">d</td>
				</tr>
				<tr>
					<td>작성시간</td>
					<td th:text="${column.columnDate}">d</td>
				</tr>
				<tr>
					<td colspan="2">내　　　용</td>
				</tr>
				<tr>
					<td colspan="2">
						<pre  th:text="${column.columnContent}">내용</pre>
					</td>
				</tr>
			</table>
		</div>
		<div id="versesButton">
			<button > <a href="/verses/verses">목록</a></button>
			<div th:if="${column.memberNo==session.loginMember?.memberNo ||session.loginMember?.memberGrade=='A'}">
				<button id="columnModify" type="button" th:value="${column.columnNo}">수정</button>
				<button id="columnDelete" type="button" th:value="${column.columnNo}">삭제</button>
			</div>
		</div>
	</section>
</body>
<script src="../../js/verses/column.js"></script>
</html>