<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/verses/column.css">
	<title>나사로의 집</title>
	<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=e8v32dthve"></script>
</head>
<body id="asd">
	<th:block th:replace="~{top/top.html}"></th:block>
	<section>
		<div id="prayMain">컬럼</div>
	</section>
	<section id="prayMiddle">
		<th:block th:replace="~{verses/button.html}"></th:block>
		<div id="prayMiddleContent">
			<table class="column-content">
				<th>순서</th>
				<th>제목</th>
				<th>작성자</th>
				<th>날짜</th>
				<tr th:each="c, index:${columnList}"  th:value="${c.columnNo}" class="column-content"> 
					<td th:text="${c.columnNo}"></td>
					<td th:text="${c.columnTitle}"></td>
					<td th:text="${c.memberName}"></td>
					<td th:text="${c.columnDate}"></td>
				</tr>
			</table>
		</div>
		<div id="pagenation">
			<div>◁</div>
			<div>1</div>
			<div>2</div>
			<div>3</div>
			<div>4</div>
			<div>5</div>
			<div>▷</div>
		</div>
	</section>
</body>
<script>
	</script>
<script src="../js/verses/column.js"></script>
</html>