<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/verses/verses.css">
	
	<link rel="stylesheet" href="../../css/button.css">
	<title>나사로의 집</title>
	<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=e8v32dthve"></script>
</head>
<body id="asd">
	<th:block th:replace="~{top/top.html}"></th:block>
	<section>
		<div id="versesMain" class="topbanner">
			<img src="../../img/middleBanner/6.jpg" alt="">
			<div>신앙자료실</div>
		</div>
		<div id="versesContents">
			<a href="/verses/verses" class="verses-versesMenu">말씀</a>
			<a href="/verses/column" class="verses-versesMenu">컬럼</a>
			<a href="/verses/reference" class="verses-versesMenu-cho">신앙자료실</a>
		</div>
	</section>
	<section id="prayMiddle" th:with="reference=${reference}">
		<div id="versesContent">
			<table id="versesDetail">
				<tr>
					<td>제목</td>
					<td th:text="${reference.referenceTitle}">s</td>
				</tr>
				<tr>
					<td>글쓴이</td>
					<td th:text="${reference.memberNickname}">d</td>
				</tr>
				<tr>
					<td>작성시간</td>
					<td th:text="${reference.referenceDate}">d</td>
				</tr>
				<tr>
					<td colspan="2">내　　　용</td>
				</tr>
				<tr>
					<td  colspan="2">
						<pre th:utext="${reference.referenceContent}">내용</pre>

					</td>
				</tr>
			</table>
		</div>
		<div id="versesButton">
			<button > <a href="/verses/reference">목록</a></button>
			<div th:if="${reference.memberNo==session.loginMember?.memberNo ||session.loginMember?.memberGrade=='A'}">
				<input id="csrf" type="hidden" th:value="${_csrf.token}">
				<input id="csrfName" type="hidden" th:value="${_csrf.parameterName}">
				<button id="referenceModify" type="button" th:value="${reference.referenceNo}">수정</button>
				<button id="referenceDelete" type="button" th:value="${reference.referenceNo}">삭제</button>
			</div>
		</div>
	</section>
	<th:block th:replace="~{top/bottom.html}"></th:block>
</body>
<script src="../../js/verses/reference.js"></script>
</html>