<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/verses/reference.css">
	<link rel="stylesheet" href="../../css/button.css">
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
	<script src="/js/summernote/summernote-lite.js"></script>
	<script src="/js/summernote/lang/summernote-ko-KR.js"></script>
	<link rel="stylesheet" href="/css/summernote/summernote-lite.css">
	<title>나사로의 집</title>
	<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=e8v32dthve"></script>
</head>
<body id="asd">
	<th:block th:replace="~{top/top.html}"></th:block>
	<section>
		<div id="versesMain" class="topbanner">
			<img src="../../img/middleBanner/6.jpg" alt="">
			<div>신앙자료실</div>
		</div>
		<div id="versesContents">
			<a href="/verses/verses" class="verses-versesMenu">말씀</a>
			<a href="/verses/column" class="verses-versesMenu">컬럼</a>
			<a href="/verses/reference" class="verses-versesMenu-cho">신앙자료실</a>
		</div>
	</section>
	<form action="/reference/insert" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					
		<section id="referenceMiddle" th:with="reference=${reference}">
			<div id="referenceContent">
				<table id="referenceDetail">
					<tr>
						<td>제목</td>
						<td style="padding-left: 0;">
							<input type="text" style="width: 99%; height: 50px; border:none;" name="referenceTitle" required>
						</td>
					</tr>
					<tr>
						<td colspan="2">내　　　용</td>
					</tr>
					<tr>
						<td colspan="2" > 
							<textarea id="summernote" name="referenceContent" required></textarea>
						</td>
					</tr>
				</table>
			</div>
			<div id="referenceButton">
				<button > <a href="/verses/reference">목록</a></button>
				<div>
					<button>확인</button>
				</div>
			</div>
		</section>
		<th:block th:replace="~{top/bottom.html}"></th:block>
	</form>
</body>
</html>