<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/verses/reference.css">
	<link rel="stylesheet" href="../../css/utility/pagination.css">
	<link rel="stylesheet" href="../../css/button.css">
	<title>나사로의 집</title>
</head>
<body id="asd" th:with="pagination=${resultMap.pagination}, referenceList=${resultMap.referenceList}, bestNoticeList=${resultMap.referenceBestList}">
	<th:block th:replace="~{top/top.html}"></th:block>
	<section>
		<div id="versesMain" class="topbanner">
			<img src="../../img/middleBanner/6.jpg" alt="">
			<div>신앙자료실</div>
		</div>
		<div id="versesContents">
			<a href="/verses/verses" class="verses-versesMenu">말씀</a>
			<a href="/verses/column" class="verses-versesMenu">컬럼</a>
			<a href="/verses/reference" class="verses-versesMenu-cho">신앙자료실</a>
		</div>
	</section>
	<section id="referenceMiddle">
		<div id="referenceMiddleContent">
			<table class="reference-content">
				<th>순서</th>
				<th>제목</th>
				<th>작성자</th>
				<th>날짜</th>
				<tr  th:each="b, index:${bestNoticeList}"  th:value="${b.referenceNo}" class="reference-content" style="height: 30px;background-color:  bisque;"> 
					<td th:text="${b.referenceNo}">번호</td>
					<td th:text="${b.referenceTitle}" style="text-align: left;padding-left: 30px;">제목</td>
					<td th:text="${b.memberNickname}">작성자</td>
					<td th:text="${b.referenceDate}">날짜</td>
				</tr>
				<tr th:each="r, index:${referenceList}"  th:value="${r.referenceNo}" class="reference-content" style="height: 30px;">
					<td th:text="${r.referenceNo}"></td>
					<td th:text="${r.referenceTitle}" style="text-align: left;padding-left: 30px;"></td>
					<td th:text="${r.memberNickname}"></td>
					<td th:text="${r.referenceDate}"></td>
				</tr>
			</table>
		</div>
		<div id="referenceButton">
			<button > <a href="/verses/reference">목록</a></button>
			<div th:if="${session.loginMember?.memberRank=='A'}">
				<button><a href="/verses/referenceWrite">글쓰기</a></button>
			</div>
		</div>
		<!-- 하단 버튼 영역 -->
		<div th:if="${#lists.size(referenceList) > 0}" class="pagination-area" >
			<ul th:unless="${param.query}" class="pagination" id="pagination">
				<!-- 첫 페이지로 이동 -->
				<li>
				  	<a th:href="@{reference(cp=1)}">
						<!-- <img th:src="@{/images/common/paging/first-page.svg}"> -->
						<div>&lt;&lt;</div>
					</a>
				</li>
				<!-- 이전 목록 마지막 번호로 이동 -->
				<li>
					<a th:href="@{reference(cp=${pagination.prevPage})}">
						<!-- <img th:src="@{/images/common/paging/prev-page.svg}"> -->
						<div>&lt;</div>
				  	</a>
				</li>
				<!-- 특정 페이지로 이동 -->
				<!-- #numbers.sequence(시작, 끝 [, step]) 시작 이상 , 끝 이하 까지 step만큼 증가하는 숫자를 발생-->
				<th:block th:each=" i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
				<!-- 현재 보고 있는 페이지 -->
				<li th:if="${i == pagination.currentPage}">
					<a class="current" th:text="${i}">현재페이지</a>
				</li>
				<li th:unless="${i == pagination.currentPage}">
					<a th:href="@{reference(cp=${i})}" th:text="${i}">현재페이지</a>
				</li>
				
				</th:block>
				
				<!-- 다음 목록 시작 번호로 이동 -->
				<li>
				  	<a th:href="@{reference(cp=${pagination.nextPage})}">
						<!-- <img th:src="@{/images/common/paging/next-page.svg}"> -->
						<div>&gt;</div>
					</a>	
				</li>
				
				<!-- 끝 페이지로 이동 -->
				<li>
					<a th:href="@{reference(cp=${pagination.maxPage})}">
						<!-- <img th:src="@{/images/common/paging/last-page.svg}"> -->
						<div>&gt;&gt;</div>
					</a>
				</li>
		
			</ul>
			<!-- 검색 O인 경우의 페이지네이션 -->
			<ul th:if="${param.query}" class="pagination" id="pagination">
			
				<!-- 첫 페이지로 이동 -->
				<li><a th:href="@{reference(cp=1, key=${param.key}, query=${param.query})}">&lt;&lt;</a></li>
		
				<!-- 이전 목록 마지막 번호로 이동 -->
				<li><a th:href="@{reference(cp=${pagination.prevPage}, key=${param.key}, query=${param.query})}">&lt;</a></li>
		
				<!-- #numbers.sequence(시작, 끝 [,step]) -->
				<!-- 특정 페이지로 이동 -->
				<th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
					<!-- 현재 보고있는 페이지 -->
					<li th:if="${i == pagination.currentPage}">
						<a class="current" th:text="${i}">현재 페이지</a>
					</li>
		
					<!-- 현재 페이지를 제외한 나머지 -->
					<li th:unless="${i == pagination.currentPage}">
						<a th:href="@{reference(cp=${i}, key=${param.key}, query=${param.query})}" th:text="${i}">현재 페이지</a>
					</li>
				</th:block>
		
				<!-- 다음 목록 시작 번호로 이동 -->
				<li><a th:href="@{reference(cp=${pagination.nextPage}, key=${param.key}, query=${param.query})}">&gt;</a></li>
		
				<!-- 끝 페이지로 이동 -->
				<li><a th:href="@{reference(cp=${pagination.maxPage}, key=${param.key}, query=${param.query})}">&gt;&gt;</a></li>
			</ul>
		</div>
		<!-- 검색창 -->
		<form th:action="${reference}" method="get" id="boardSearch">
			<select name="key" id="searchKey">
				<option value="t">제목</option>
				<option value="c">내용</option>
				<option value="tc">제목+내용</option>
			</select>
			<input type="text" name="query" id="searchQuery" >
			<button>검색</button>
		</form>
	</section>
	<th:block th:replace="~{top/bottom.html}"></th:block>
</body>
<script>
	</script>
<script src="../js/verses/reference.js"></script>
</html>