<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/verses/verses.css">
	<title>나사로의 집</title>
	<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=e8v32dthve"></script>
</head>
<body id="asd">
	<th:block th:replace="~{top/top.html}"></th:block>
	<section>
		<div id="prayMain">말씀2</div>
	</section>
	<form action="/verses/insert">
		
		<section id="prayMiddle" th:with="verses=${verses}">
			<div id="versesContent">
				<table id="versesDetail">
					<tr>
						<td>제목</td>
						<td style="padding-left: 0;">
							<input type="text" style="width: 99%; height: 50px; border:none;" name="versesTitle">
						</td>
					</tr>
					<tr>
						<td colspan="2">내　　　용</td>
					</tr>
					<tr>
						<td colspan="2" > <input type="textarea"  style="height:300px; width: 99%; border:none" name="versesContent"></td>
					</tr>
				</table>
			</div>
			<div id="versesButton">
				<button > <a href="/verses/verses">목록</a></button>
				<div>
					<button>확인</button>
				</div>
			</div>
		</section>
	</form>
</body>
</html>