<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/intro.css">
	<title>나사로의 집</title>
	<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=e8v32dthve"></script>
</head>
<body id="asd">
	<th:block th:replace="~{top/top.html}"></th:block>
	<section>
		<div id="introMain">나사로의 집 교회</div>
	</section>
	<section id="introMiddle">
		<div id="introContents">
			<div class="intro-introMenu">나사로의 집 소개</div>
			<div class="intro-introMenu">상담예약안내</div>
			<div class="intro-introMenu">교통안내</div>
		</div>
		<div id="introMiddleContent">
			<div id="introPic"></div>
			<div id="introContent">
				<div class="intro-content">교통 안내</div>
				<div class="intro-content">나나나나나나나나나나나나나나나나나나나나나나나나나</div>
			</div>
		</div>
	</section>
</body>
<script>
	</script>
</html>