<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/intro/map.css">
	<link rel="stylesheet" href="../../css/button.css">
	<title>나사로의 집</title>
	<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=e8v32dthve"></script>
</head>
<body id="asd">
	<th:block th:replace="~{top/top.html}"></th:block>
	<section>
		<div id="introMain">
			<img src="../../img/middleBanner/3.jpg" alt="">
			<div>교통안내</div>
		</div>
	</section>
	<section id="introMiddle">
		<div id="introContents">
			<a class="intro-introMenu" href="/intro/home">나사로의 집 소개</a>
			<a class="intro-introMenu" href="/intro/consultation">상담예약안내</a>
			<a class="intro-introMenu-cho" href="/intro/map">교통안내</a>
		</div>
		<div id="introMiddleContent">
			<div id="introPic">
				<img src="../../img/sideBanner/8.png" alt="">
				<img src="../../img/sideBanner/9.png" alt="">
				<img src="../../img/sideBanner/10.png" alt="">
				<img src="../../img/sideBanner/11.png" alt="">
				<img src="../../img/sideBanner/12.png" alt="">
				<img src="../../img/sideBanner/13.png" alt="">
			</div>
			<div id="introContent">
				<!-- <div class="intro-content">교통 안내</div> -->
				<img id="introContentImg" src="../../img/교통안내본문.png" alt="">
			</div>
		</div>
	</section>
</body>
<script>
	</script>
</html>