#introContents a:hover{
    text-decoration: none;
    color: hsl(0, 0%, 16%);
    background-color: antiquewhite;
    font-size: 16px;
    border: 0.5px solid #ccc;
}
#prayContents a:hover{
    text-decoration: none;
    color: hsl(0, 0%, 16%);
    background-color: antiquewhite;
    font-size: 16px;
    border: 0.5px solid #ccc;
}
#versesContents a:hover{
    text-decoration: none;
    color: hsl(0, 0%, 16%);
    background-color: antiquewhite;
    font-size: 16px;
    border: 0.5px solid #ccc;
}
#communityContents a:hover{
    text-decoration: none;
    color: hsl(0, 0%, 16%);
    background-color: antiquewhite;
    font-size: 16px;
    border: 0.5px solid #ccc;
}

#versesLink{
    display: flex;
    justify-content: center;
}

#versesLink div{
    display: flex;
    border: 1px solid #ccc;
    width: 170px;
    height: 30px;
    background-color: bisque;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin:10px 10px 0 10px;
}

#versesContents{
    margin: 50px 20%;
    display: flex;
    justify-content: center;
}
.intro-introMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 60px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #fefefe;
    border: 1px solid #ccc;
  }
.intro-introMenu-cho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 60px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: hsl(348, 83%, 93%);
    border: 1px solid #fefefe;
  }
.verses-versesMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 60px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #fefefe;
    border: 1px solid #ccc;

}
.verses-versesMenu-cho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 60px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: hsl(348, 83%, 93%);
    border: 1px solid #fefefe;
}

.pray-prayMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 60px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #fefefe;
    border: 1px solid #ccc;
}
.pray-prayMenu-cho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 60px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: hsl(348, 83%, 93%);
    border: 1px solid #fefefe;
}
.community-communityMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 60px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #fefefe;
    border: 1px solid #ccc;
}
.community-communityMenu-cho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 60px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: hsl(348, 83%, 93%);
    border: 1px solid #fefefe;
}

.sign-signMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #fefefe;
    border: 1px solid #ccc;
}
.sign-signMenu-cho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: hsl(348, 83%, 93%);
    border: 1px solid #fefefe;
}

.sign-signMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #fefefe;
    border: 1px solid #ccc;
}
.sign-signMenu-cho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: hsl(348, 83%, 93%);
    border: 1px solid #fefefe;
}
