ul{
    padding-inline-start: 0;
}
li{
    list-style: none;
}
body{
    margin: 0;
}
#middleSlide{
}

/* 메인 banner 무한 슬라이드 */
.slide_wrap { 
  position: relative;
  display: block;
  margin-bottom: 130px;
}
.slide_box { 
  overflow-x: hidden; 
}
.slide_list {
  display: flex;
  
}
.clearfix:after { 
  content: ''; 
  display: block; 
  clear: both; 
  float: none; 
}
.slide_content { 
  height: 100%;
  width: 100%;
}
.slide_content a {
  display: block;
  width: 100%;
  height: 100%;
}
.slide_content img {
  width: 1920px;
  height: 800px;
  display: block;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

/* 슬라이드 버튼 */
[class^="slide_btn"] {
  position: absolute;
  top: 280px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: #ffffff25;
  border: none;
  cursor: pointer;
  margin: 0 30px;
  transition-duration: 0.2s;
}
[class^="slide_btn"]:hover {
  background-color: #ffffff90;
  transition-duration: 0.2s;
}
[class^="slide_btn"] > img{
  width: 20px;
  height: 20px;
}
.slide_btn_prev { left: 200px; }
.slide_btn_next { right: 0; }

/* 슬라이드 페이지네이션 */
.slide_pagination { 
  z-index: 100;
  position: absolute; 
  left: 50%; 
  list-style: none; 
  margin: -30px 0; 
  padding: 0; 
  transform: translateX(-50%); 
  }
  .slide_pagination .dot { 
    display: inline-block; 
    width: 15px; 
    height: 15px; 
    margin: 0 5px; 
    overflow: hidden; 
    background: hsla(0, 0%, 75%, 0.145);
    border-radius: 50%; 
    transition: 0.3s; 
  }
  .slide_pagination .dot.dot_active { background: hsla(0, 0%, 62%, 0.565); }
  .slide_pagination .dot a { 
    display: block; 
    width: 100%;
    height: 100%; 
  }

/* 중간 컨텐츠 */
.slide_box{
  margin-top: -10px;
}


#home-slide{
  width: 100%;
  height: 1000px;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  user-select: none;
  
}

.slide-contents{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-shrink: 0;


  /* transition */
  transition: left 0.15s;
  transition-duration: 1s;
}
.slide-img-contents{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-shrink: 0;


  /* transition */
  transition: left 0.15s;
  transition-duration: 1s;
}

.swiper {
  margin-top: 15px;
  width: 100%;
  height: 1000px;
}

.slideText{
  position: absolute;
  display: flex;
  font-size: 32px;
  color: hwb(0 16% 84%);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s, transform 2s;
  background: border-box;
  border: 0px;
  resize: none; /* 크기 조정 비활성화 */
  /* text-shadow: -0.5px 0 #000000, 0 0.5px #000000, 0.5px 0 #000000, 0 -0.5px #000000; */
}
.show{
  opacity: 1;
  transform: translateY(0);
}

.swiper-img{
  margin: 0 auto;
  width: 1300px;
  overflow: hidden;
}


#middleContent{
  margin: 0 auto;
  text-align: center;
}
/* 중간 타이틀 */
#middleTitle > div:nth-child(1){
  margin-top: 50px;
  font-size: 40px;
  font-weight: bold;
}
#middleTitle > div:nth-child(2){
  margin-top: 20px;
  font-size: 20px;
}
.middleContentBtn{
  border: 1px solid #ccc;
  margin:30px;
  padding:10px 30px;
  color: hwb(0 100% 0%);
  background-color: #F29661;
}
#middleTag{
  margin-top: 30px;
  width: 100%;
  display: flex;
}
#middleTag>div{
  width: 33%;
}
#middleTag>div>a{
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 0 30px;
}
#middleTag>div>a>div{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

#middleImg{
  margin: 50px auto;
  padding: 50px 0;
  text-align: center;
  border-top:1px  solid #ccc;
  border-bottom:1px  solid #ccc;
}
.iw_inner{
  font-size: 10px;
  height: 50px;
  display: flex;
  align-items: center
}
/* 중간 타이틀 */
#middleImg > div:nth-child(1){
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}
#middleImg > div:nth-child(2){
  margin-top: 20px;
}
.middleImg-img{
  margin: 13px 13px;
  width: 300px;
  height: 200px;
}

#middleImgContent{
  margin: auto;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  width: 80%;
  height: 500px;
  overflow: hidden;
}
#middleImgContents{
  transition-duration: 1s;

}
#middleImgContents>div:nth-child(1){
  position: absolute;
  left: 180px;
}
#middleImgContents>div:nth-child(2){
  position: absolute;
  left: 85%;
}
#modal-set{
  height: 0;
  transition-duration: 1s;
}

.modal{
  display: none;
  width: 100%;
  height: 100%;
}
#modal-set.show{
  transition-duration: 1s;
  opacity: 1;
  height: 200px;
}
.modal-content {
  top: 150px;
  margin: 0 10px;
  display: flex;
  width: 10%;
  transition-duration: 1s;
}

.close-button {
  color: white;
  font-size: 28px;
  font-weight: bold;
  right: 25px;
  cursor: pointer;
}




#bottomContent{
  padding-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  
}

#bottomLeft{
  margin: 0 30px 30px 30px;
  display: block;
  justify-content: center;
  min-width: 600px;;
}
#bottomLeft>div:nth-child(1){
  display: flex;
  justify-content: center;
}
.bottom-LeftMenu{
  font-size: 25px;
  font-weight: bold;
  background-color: hsl(330, 52%, 68%);
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 50%;
  height: 70px;
  align-items: center;
}
.bottom-LeftMenu:nth-child(1){
  border-right: 1px solid hsl(0, 0%, 0%);
  border-top: 1px solid hsl(0, 0%, 0%);
}
.bottom-LeftMenu:nth-child(2){
  border-bottom: 1px solid hsl(0, 0%, 0%);
}
#bottomLeftMenuNotice > div{
  padding: 15px;
  border-bottom: 1px solid #fafafa;
}
#bottomLeftMenuBoard > div{
  padding: 15px;
  border-bottom: 1px solid #fafafa;
}
#bottomLeftMenuBoard{
  display: none;
}

#bottomRight{
  margin: 0 30px 30px 30px;
  display:flex;
  justify-content: center;
  min-width: 800px;
}
.bottom-RightMenu{
  display:flex;
}

.bottom-RightMenu{
  font-size: 25px;
  font-weight: bold;
  background-color: #fafafa;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 50%;
  height: 400px;
  align-items: center;
  border: 1px solid #ccc;
}
.bottom-RightMenu>div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.bottom-RightMenu:nth-child(2){
  display: block;
  

}