a{
    border-radius: 5px;
}
div{
    border-radius: 5px;
}
ul{
    padding-inline-start: 0;
    margin: 20px 0;
}
li{
    list-style: none;
}
body{
    margin: 0;
}
p{
    width: 1000px;
    white-space: normal; /* 일반적인 줄바꿈 */
    word-wrap: break-word; /* 긴 단어 줄바꿈 */
    word-break: break-all; /* 모든 단어 줄바꿈 */
    overflow-wrap: break-word; /* 텍스트 줄바꿈 처리 */
}
a{
    text-decoration: none;
    color: black;
    transition-duration: 1s;
}
a:hover{
    text-decoration: none;
    color: black;
    transition-duration: 1s;
}

.hidden{
    display: none;
}
table{
    border-collapse: collapse;
}
th{
    height: 40px;
    border: 1px solid hsl(0, 0%, 56%);
}
td{
    font-size: 15px;
}
@font-face {
    font-family: 'SOGANGUNIVERSITYTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SOGANGUNIVERSITYTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
div{
    font-family: 'SOGANGUNIVERSITYTTF';
}
p{
    font-family: 'SOGANGUNIVERSITYTTF';
}
span{
    font-family: 'SOGANGUNIVERSITYTTF';
}
textarea{
    font-family: 'SOGANGUNIVERSITYTTF';
}
/* 중앙정렬 */
#topFrame{
    width: 100%;
    height: 80px;
    z-index: 250;
    position: sticky;
    top: 0;
    background-color: white;
}

#topMain{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
/* 로고 */
#topLogo{
    
  margin-top: 10px;
    z-index: 999;
    position:absolute;
    left:100px;
    width: 250px;
    height: 75px;
}
#topRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
/* 회원탭 */
#topSign{
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}
#topSign > div{
    margin-right: 30px;
}

#topLogin{
    width: 210px;
    background-color: #ccc;
    border-radius: 5px;
    z-index: 300;
    border: 1px solid black;
    transition: right 2s;
    position: relative;
    right: -290px;
    
}
#topLogin > div{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;

}
#topLogin > div > input{
    margin-left: 5px;
    margin-right: 5px;
}

#topLogin > button{
    width: 100%;
}

.top-nav{
    width: 100%;
     z-index:200;
    display: flex;
    position: absolute;
    background-color: white;
    top: 30px;
    left:0;
    justify-content: flex-end;
    border-bottom: 1px solid #ccc;
}
.top-nav > div{
    display: flex;
    padding-right: 100px;
}
.top-nav-menu{
    font-size: 17px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}
/* 메뉴 */
.top-nav-menu > li{
    padding-bottom: 20px;
}

/* 하위 메뉴 */
.top-menu-hover{
    display: inline-block;
    width: 100%;
    font-weight: normal;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition-duration: 0.5s;
}

.top-menu-content:hover{
    transition-duration: 1s;
    color: aqua;
}
.top-nav>div:hover .top-menu-hover {
  opacity: 1;
  height: 100px;
}

.top-menu-content{
    font-size: 20px;
}






@media screen and (max-width:1180px) {
    .top-nav{
        width: 100%;
         z-index:200;
        display: flex;
        position: absolute;
        background-color: white;
        left:0;
        justify-content: flex-end;
        border-bottom: 1px solid #ccc;
        margin-top: 50px;
    }

    .topbanner{
        padding-top: 50px;
    }
}