<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/main.css">
	<title>나사로의 집</title>
	<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=e8v32dthve"></script>
</head>
<body id="asd" th:with="noticeList=${resultMap.noticeList}, familyList=${resultMap.familyList}, galleryList=${resultMap.galleryList}">
	<th:block th:replace="~{top/top.html}"></th:block>
	<section id="middleSlide">
		<div class="slide_box">
			<ul class="slide_list clearfix">
			
			<li class="slide_content">
				<img class="main-banner-img" src="../img/나사로.jpg" alt="">
			</li>
			<li class="slide_content">
				<img class="main-banner-img" src="../img/나사로2.jpg" alt="">
			</li>
			
			</ul>
		</div> <!-- slide_box -->
		<button class="slide_btn_prev" type="button">
		</button>
		
		<button class="slide_btn_next" type="button">
		</button>
		
		<!-- slide_pagination -->
		<ul class="slide_pagination"></ul>
	
		<!-- banner 슬라이드 관련 js -->
	</section>
	<section id="middleContent">
		<div id="middleTitle">
			<div>나사로의 집</div>
			<div>나는 치유하는 하나님이니라.</div>
		</div>
		<div id="middleTag">
			<div>
				<a href="/intro/home">
					<img  src="../img/말씀.jpg" alt="">
					<div>십자가 치유의 능력</div>
				</a>
			</div>
			<div>
				<a href="/verses/verses">
					<img  src="../img/교회를위한기도.jpg" alt="">
					<div>은혜와 진리안에 거하라</div>
				</a>
			</div>
			<div>
				<a href="/pray/prayer">
					<img  src="../img/나사로의집소개.jpg" alt="">
					<div>쉬지 말고 기도하라</div>
				</a>
			</div>
		</div>
	</section>
	<section id="middleImg">
		<div>GALLERY</div>
		<div id="middleImgContent">
			<img th:each="g:${galleryList}" th:if="${g.galleryImg.size()!=0}" class="middleImg-img" th:src="${g.galleryImg[0].galleryPath}" alt="">
			<img th:each="g:${galleryList}" th:if="${g.galleryImg.size()==0}" class="middleImg-img" src="https://s3.ap-northeast-2.amazonaws.com/lazarus.bucket/images/gallery/12%EC%8B%9C%EC%98%A8%EC%94%A8.jpg">
		</div>
	</section>

	<section id="bottomContent">
		<div id="bottomLeft">
			<div>
				<div class="bottom-LeftMenu">공지사항</div>
				<div class="bottom-LeftMenu">기도노트</div>
			</div>
			<div class="bottomLeftMenuContent" id="bottomLeftMenuNotice">
				<div th:each="n:${noticeList}" th:value="${n.noticeNo}"  class="notice-content">
					<div class="bottomNotice" th:text="${n.noticeTitle}">공지사항1</div>
				</div>
			</div>
			<div class="bottomLeftMenuContent" id="bottomLeftMenuBoard">
				<div th:each="f:${familyList}" th:value="${f.familyNo}"  class="family-content">
					<div class="bottomNotice" th:text="${f.familyTitle}">기도노트</div>
				</div>
			</div>
		</div>
		<div id="bottomRight">
			<div class="bottom-RightMenu">
				<div id="map" style="width:100%;height:400px;"></div>
			</div>
			<div class="bottom-RightMenu">
				<img src="../img/나사로주소전화.jpg" alt="">
			</div>
		</div>
	</section>
	<section>
		바텀끝
	</section>

</body>
<script>
	// var mapOptions = {
	// 	center: new naver.maps.LatLng(34.48054449999998, 127.16895197903432),
	// 	zoom: 16
	// };
	
	// var map = new naver.maps.Map('map', mapOptions);
	var HOME_PATH = window.HOME_PATH || '.';

	var cityhall = new naver.maps.LatLng(34.4804898,127.1773069),
		map = new naver.maps.Map('map', {
			center: cityhall.destinationPoint(0, 500),
			zoom: 15
		}),
		marker = new naver.maps.Marker({
			map: map,
			position: cityhall
		});

	var contentString = [
			'<div class="iw_inner">',
			'나사로의 집',
			'</div>'
		].join('');

	var infowindow = new naver.maps.InfoWindow({
		content: contentString
	});

	naver.maps.Event.addListener(marker, "click", function(e) {
		if (infowindow.getMap()) {
			infowindow.close();
		} else {
			infowindow.open(map, marker);
		}
	});

	infowindow.open(map, marker);
	</script>
<script src="../js/home/banner.js"></script>
<script src="../js/home/intro.js"></script>

</html>