





/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa prayMiddle */

#communityMain{
  position: relative;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100px;
}
#communityMain>div {
  position: absolute;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100px;
  font-size: 40px;
  color: white;
}
#prayMiddle{
}

#communityLink{
  display: flex;
  justify-content: space-evenly;
}

#communityLink div{
  border: 1px solid #ccc;
  width: 20%;
  height: 30px;
  background-color: bisque;
}
#communityContents{
  margin: 50px 20%;
  display: flex;
  justify-content: center;
}

.community-communityMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 60px;
  margin-left: 2%;
  margin-right: 2%;
  background-color: aqua;
}

#communityPic{
  width: 200px;
  height: 500px;
  background-color: aquamarine;
}

#communityMiddleContent{
  display: flex;
  margin: 0 10%;
  justify-content: center;


}

#prayMiddleContent > div{
}

.community-content{
  width: 90%;
  border: 0.5px solid #ccc;
}

.community-content th{
  background-color: hsl(0, 4%, 84%);
}
.community-content td{
  text-align: center;
  background-color: beige;
}
.community-content th:nth-child(1){
  width: 8%;
}
.community-content th:nth-child(2){
  width: 10%;
}
.community-content th:nth-child(3){
  width: 10%;
}
.community-content th:nth-child(4){
  width: 10%;
}
.community-content th:nth-child(5){
  width: 10%;
}

#pagenation{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#pagenation > div{
  display: flex;
  justify-content: center;
  margin: 0 5px;
  border: 1px solid #ccc;
  width: 22px;
  height: 22px;
  border-radius: 5px
}
#noticeContent{
  display: flex;
  justify-content: center;
}
#noticeDetail{
  width: 800px;
  border : 1px solid #ccc;
  border-radius: 10px;
}
#noticeDetail td{
  border : 1px solid #ccc;
  
}

#noticeDetail tr > td:nth-child(1){
  text-align: center;
  width: 150px;
  height: 50px;
  background-color: antiquewhite;
}
#noticeDetail tr > td:nth-child(2){
  padding-left: 30px;
}
#noticeDetail tr:nth-child(5) > td{
  padding-left: 30px;
  text-align: left;
  background-color: white;
}
#noticeButton{
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
#noticeButton > button{
  margin-right: 700px;
}
